.content {
	color: #07598C;
	float: left;

	margin: 10px;
}

.main {
	margin: 0 auto; 
	width: 70%;

}

.menu {
	margin-top: 0;
	margin: 0 auto;
	text-align: center;
	background-color:  #07598C;
	width: 100%;
	padding: 10px;
}

.menubutton {
	font-size: 1.2em;
	margin: 0.2em;
	padding: 5px;
	user-select:none;
	color: #FFFFFF;
}


.box1 {
	background-color: #74a6f7;
	
	padding: 10px;
	margin: 30px;
}

.box2 {
	background-color: #f2a252;
}