body {
	background-color:#ffffff;	
	padding: 0px;
	margin: 0px;
}

body::-webkit-scrollbar { width: 0 !important }

.menu {
	margin-top: 0;
	margin: 0 auto;
	text-align: center;
	background-color:  #07598C;
	width: 100%;
	display: block;
	padding: 10px;
}

.menubutton {
	font-size: 1.2em;
	margin: 0.2em;
	padding: 5px;
	user-select:none;
	color: #FFFFFF;
}

.main {
	margin: 0 auto; 
	margin-top: 20px;
	width: 70%;

	padding: 10px; 
	overflow: hidden;
}

.content {
	float: left; 
	margin: 10px;

	color: #07598C;
}

.blog {
	margin: 0 auto; 
	margin-top: 20px;
	width: 70%;

	background-color:#ffffff; 
	padding: 10px; 
	overflow: hidden;
}

.post { 
	margin: 10px;

	color: #07598C;
	border-top-width: 2px;
	border-top-style: solid;
	margin-bottom: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
	text-decoration: none;
}

a:link {
	color: #07908C;
}

a:visited {
	color: #07908C;
}

hr {
	border: 0;
	border-top: 1px solid #5AA3BF;
	margin: 1em 0;
}