<html>
	<head>
		<title>My Homepage</title>
		<link href="style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="menu">
			<a href="AboutMe.html"><span class="menubutton">Home</span></a>
			<a href="Blog.html"><span class="menubutton">Blog</span></a>
			<span class="menubutton">Gallery</span>
		</div>

		<div class="main">
			<div class="content">
				<p>
					<img src="my_picture.jpg" width="300px" height="400px">
				</p>
			</div>
			<div class="content">
				<h1>Hello Moldova!</h1>
				<p>
					Salut! Numele meu este <b>Sooa Jun</b>.
				</p>
				<p>
					Sunt din <a href="https://en.wikipedia.org/wiki/Korea">Coreea de Sud</a>. Vreau să întâlnesc mulți oameni din Moldova.
				</p>
				<p>
					imi plac...
					<ul>
						<li><a href="https://en.wikipedia.org/wiki/Cat">pisici</a></li>
						<li>natură</li>
						<li><a href="https://en.wikipedia.org/wiki/Python_(programming_language)">python</a></li>
					</ul>
				</p>
				<hr>
				<p>
					My Email: <a href="mailto:polariche@gmail.com">polariche@gmail.com</a>
				</p>
				<hr>
			</div>
		</div>

	</body>
</html>
